html, body, #map
{
  height: 100%;
}
#map
{
  width: 100%;
}

/*

* Report panel  - main list
*/

.c-report-panel-list  button{
  float: left;
  width:80px;
  height:60px;
  margin : 2px;
  font-size: 12px;
  text-align: center;
  pointer-events: auto !important;


}

.c-report-panel-list img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  pointer-events: auto !important;
  
}



.c-report-floating-panel{

  width:170px;
  z-index: 20000 !important;
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 4px;
  
}


/*

* Report panel -  details 
*/


.detail-panel{
  display:none;
  position: fixed;
  top: 10%;
  left: 15%;
  width:80%;
  height:80%;
}

.report-body{
  margin-top:50px;
  height:20%;
  width:100%;
  display:block;
  

}


.report-msg{
  margin-top: 10px;
  height:180px;
  width:100%;
  resize: none;

}

.report-command{
  width:100%;


}

.report-command  button{
 margin:2px;
 display:block;
}
.report-command  #back-to-list{
  float:left;

}
.report-command  #take-a-picture{
  float:right;

}
.report-command  #send-report{
  float:right;

}

.c-picture{
  margin-top: 20px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:100%;

}
.c-report-detail-hiddenFileInput {
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}





