<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">


  <div class="panel panel-primary">
    <div class="panel-heading"><b>New User:</b></div>
    <div class="panel-body">
      <form class="form" name="form" ng-submit="register(form)" novalidate>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                              'has-error': form.name.$invalid && submitted }">
            <label>Name</label>

            <input type="text" name="name" class="form-control" ng-model="user.name"
                   required/>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
              A name is required
            </p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label>Login</label>

            <input type="test" name="email" class="form-control" ng-model="user_login" ng-change="updateLogin(user_login)"
                   required />

          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
            <label>Password</label>

            <input type="password" name="password" class="form-control" ng-model="user.password"
                   ng-minlength="3"
                   required
                   mongoose-error/>
            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
              Password must be at least 3 characters.
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.password }}
            </p>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-4">
            <label><h4>Full Login : </h4> {{user_login_email}}</label>
            <p class="help-block" ng-show="form.email.$error.email && submitted">
              Doesn't look like a valid email.
            </p>
            <p class="help-block" ng-show="form.email.$error.required && submitted">
              What's your login?
            </p>
            <p class="help-block" ng-show="form.email.$error.mongoose">
              {{ errors.email }}
            </p>
        </div>
          <div class="pull-right">
            <button class="btn btn-inverse btn-lg btn-login" type="submit">
              <span class="glyphicon glyphicon-user"></span> Create New User
            </button>
          </div>
       </div>

        </form>

    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item" ng-class="{'list-group-item-danger': user.is_revoqued}" ng-repeat="user in users">
      <div class="row">
        <div class="col-md-3">
          <strong>{{user.name}}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <span class="text"><b>Email:</b>{{user.email}}</span>
        </div>
        <div class="col-md-4">
        <span class="text anim"><b>Last Location:</b>Latitude: {{user.last_known_position.latitude}}, Longitude: {{user.last_known_position.longitude}}</span>
        </div>
          <div class="col-md-4">
        <span class="text anim"><b>Last Update:</b>{{convertTimeStamp(user.last_update_timestamp)}}</span>
          </div>
        <div class="col-md-1">
          <div class="pull-right">
            <a ng-click="delete(user)" class="trash"><span class="sbtn glyphicon glyphicon-trash pull-right"></span></a>
            <a ng-click="revoke(user)" class="revoke"><span class="sbtn glyphicon glyphicon-ban-circle pull-right"></span></a>

          </div>
         </div>
      </div>
    </li>
  </ul>
</div>
