.trash { color:rgb(209, 91, 71); }
.revoke { color:rgb(209, 91, 71); }

.btn{
  margin-right:20px;
}
.sbtn{
  margin-right:10px;
}

@-webkit-keyframes updated /* Safari and Chrome */
{
  from {color: #18bc9c;}
  to {color: #2c3e50;}
}

.anim {
  -webkit-animation: updated 5s;
}

body{

}
