.c-alert-panel-width{
  width:170px;
}


.c-alert-panel-list  button{
  float: left;
  width:80px;
  height:60px;
  margin : 2px;
  font-size: 12px;
  text-align: center;

}

.c-alert-panel-list i{
  display: block;
 
  }
  

